@import "tailwindcss";

.custom-segmented .ant-segmented-item-selected {
  background-color: #f9b641 !important;
  color: #000 !important;
}

.custom-segmented .ant-segmented-item:hover {
  background-color: #f2f0ed !important;
}

.custom-segmented .ant-segmented-item {
    margin-right: 8px; 
  }
  
  .custom-segmented .ant-segmented-item:last-child {
    margin-right: 0;
  }